simple-select-categoria-popover {
  .searchbar-md .searchbar-input {
    background-color: transparent;
    -webkit-box-shadow: initial;
    box-shadow: initial;
  }
  .searchbar-md .searchbar-input::placeholder {
    color: black;
  }
}
