registro-ingreso-gasto {
  .toolbar-title {
    font-size: 2em;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }

  ion-icon {
    width: 5%;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .margin-select {
    margin-left: 8px;
  }

  .error {
    color: map-get($map: $colors, $key: danger);
  }
}
