registro-ingreso-gasto {
  .toolbar-title {
    font-size: 2em;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }

  .item-md .radio-md {
    margin-left: 0 !important;
    margin-right: 16px !important;
  }

  .list-md {
    margin-top: 0;
    margin-bottom: 0;
  }

  .searchbar-md {
    padding: 0;
    .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
      display: none;
    }

    .searchbar-input {
      box-shadow: none;
      padding: 0;
    }
  }

  ion-icon {
    width: 5%;
  }

  ion-select {
    max-width: 100%;
  }

  .grid {
    padding-left: 0;
  }

  ion-col {
    padding-left: 0 !important;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .margin-select {
    margin-left: 8px !important;
  }

  .error {
    color: map-get($map: $colors, $key: danger);
  }
}
