<ion-header>
  <ion-navbar [color]="tipoTransaccion">
    <ion-buttons end>
      <button ion-button clear icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button clear icon-only>
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar [color]="tipoTransaccion">
    <ion-title>Nuevo {{ tipoTransaccion }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="flex" (click)="openCalculator()">
    <ion-icon float-left color="light" name="star"></ion-icon>
    <ion-item>
      <ion-label class="margin-select" [color]="tipoTransaccion" *ngIf="formTransaccion.valor != 0">{{
        formTransaccion.valor | currency }}</ion-label>
      <ion-label class="margin-select" color="opaque" *ngIf="formTransaccion.valor == 0">Ingrese el valor</ion-label>
    </ion-item>
  </div>
  <div class="flex" (click)="openCalendario()">
    <ion-icon name="calendar"></ion-icon>
    <ion-item>
      <span class="margin-select">{{ formTransaccion.fechaSeleccionada | date: 'dd, MMMM - yyyy' | dateTranslate }}</span>
    </ion-item>
  </div>
  <div class="flex">
    <ion-icon name="microphone"></ion-icon>
    <ion-item>
      <ion-searchbar class="margin-select" [(ngModel)]="formTransaccion.descripcion" (ionInput)="searchTransactions($event)" placeholder="Descripción"></ion-searchbar>
    </ion-item>
  </div>
  <div class="flex" (click)="openCategorias()">
    <ion-icon [color]="formTransaccion.categoriaSeleccionada.itemGui.color" [name]="formTransaccion.categoriaSeleccionada.itemGui.icono"></ion-icon>
    <ion-item>
      <span class="margin-select">{{ formTransaccion.categoriaSeleccionada.itemGui.nombre }}</span>
      <ion-icon float-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </div>
  <div class="flex" (click)="openCuentas()">
    <ion-icon [color]="formTransaccion.cuentaSeleccionada.itemGui.color" [name]="formTransaccion.cuentaSeleccionada.itemGui.icono"></ion-icon>
    <ion-item>
      <span class="margin-select">{{ formTransaccion.cuentaSeleccionada.itemGui.nombre }}</span>
      <ion-icon float-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </div>

  <ion-list radio-group [(ngModel)]="formTransaccion.pagoRegistrado">
    <div class="flex">
      <ion-item no-padding>
        <ion-radio item-left [color]="tipoTransaccion" value="true"></ion-radio>
        <ion-label class="margin-select">Pago registrado</ion-label>
      </ion-item>
    </div>
    <div class="flex">
      <ion-item no-padding>
        <ion-radio item-left [color]="tipoTransaccion" value="false"></ion-radio>
        <ion-label class="margin-select">Gasto fijo</ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-grid>
    <ion-row style="align-items: center;">
      <ion-col col-1>
        <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
      <ion-col *ngIf="!formTransaccion.repetir">
        <ion-item no-padding (click)="toggleRepetir()">
          <ion-label class="margin-select">Repetir</ion-label>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="formTransaccion.repetir">
        <ion-item no-padding>
          <ion-input [(ngModel)]="formTransaccion.cantidadRepeticiones" type="text" placeholder="cantidad"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="formTransaccion.repetir">
        <ion-item no-padding *ngIf="formTransaccion.repetir">
          <ion-select interface="popover" [selectOptions]="selectOptions" [(ngModel)]="formTransaccion.tipoRepeticion">
            <ion-option value="d">Diario</ion-option>
            <ion-option value="s">Semanal</ion-option>
            <ion-option value="m">Mensual</ion-option>
            <ion-option value="a">Anual</ion-option>
            <ion-option value="p">Personalizado</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row margin-left padding-left *ngIf="formTransaccion.tipoRepeticion == 'd'">
      <ion-col>
        L <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
      <ion-col>
        M <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
      <ion-col>
        M <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
      <ion-col>
        J <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
      <ion-col>
        V <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
      <ion-col>
        S <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
      <ion-col>
        D <ion-checkbox [(ngModel)]="formTransaccion.repetir" [color]="tipoTransaccion"></ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="formTransaccion.tipoRepeticion == 'p'">
      <ion-col margin-left>
          <ion-label class="margin-select" padding-left color="opaque">Repetir cada: </ion-label>
      </ion-col>
      <ion-col col-2>
        <ion-item no-padding>
          <ion-input [(ngModel)]="formTransaccion.repetirCadaX" type="text" placeholder="X"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item no-padding *ngIf="formTransaccion.repetir">
          <ion-select [(ngModel)]="formTransaccion.tipoCadaX">
            <ion-option value="Dias">días</ion-option>
            <ion-option value="Semanas">Semanas</ion-option>
            <ion-option value="Meses">Meses</ion-option>
            <ion-option value="Años">Años</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="flex" (click)="openEtiquetas()">
    <ion-icon name="pricetags"></ion-icon>
    <ion-item>
      <span class="margin-select" *ngIf="formTransaccion.etiquetasSeleccionadas.length == 0">Seleccione la etiqueta</span>
      <span class="margin-select" *ngIf="formTransaccion.etiquetasSeleccionadas.length > 0">
        <ion-badge [color]="tipoTransaccion" *ngFor="let etiqueta of formTransaccion.etiquetasSeleccionadas">
          {{ etiqueta.nombre }}
        </ion-badge>
      </span>
      <ion-icon float-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </div>
  <div class="flex">
    <ion-icon name="create"></ion-icon>
    <ion-item>
      <ion-input type="text" placeholder="Observación"></ion-input>
    </ion-item>
  </div>
  <div class="flex">
    <ion-icon name="alarm"></ion-icon>
    <ion-item>
      <span>Recordarme</span>
    </ion-item>
  </div>
  <button ion-button full round [color]="tipoTransaccion" (click)="guardar()">Aceptar</button>
  <button ion-button full clear [color]="tipoTransaccion">Aceptar y continuar</button>
</ion-content>
