<ion-header>
  <ion-navbar [color]="tipoTransaccion">
    <ion-buttons end>
      <button ion-button clear icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button clear icon-only>
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar [color]="tipoTransaccion">
    <ion-title>Nuevo {{ tipoTransaccion }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="flex">
    <ion-icon float-left name="star"></ion-icon>
    <ion-item>
      <ion-input float-right [formControl]="formTransaccion.controls['valor']" type="number" placeholder="Introduzca el valor"></ion-input>
    </ion-item>
    <br/>
    <small *ngIf="formTransaccion.controls['valor'].invalid && (formTransaccion.controls['valor'].dirty || formTransaccion.controls['valor'].touched)">
      <div class="error" *ngIf="formTransaccion.controls['valor'].errors.required">
        Descripción requerida.
      </div>
    </small>
  </div>
  <div class="flex" (click)="openCalendario()">
    <ion-icon name="calendar"></ion-icon>
    <ion-item>
        <span class="margin-select">{{ fechaSeleccionada | date: 'dd, MMMM - yyyy' | dateTranslate }}</span>
        <ion-input type="hidden" [formControl]="formTransaccion.controls['fecha']"></ion-input>
    </ion-item>
  </div>
  <div class="flex">
    <ion-icon name="microphone"></ion-icon>
    <ion-item>
      <ion-input type="number" placeholder="Descripción"></ion-input>
    </ion-item>
  </div>
  <div class="flex" (click)="openCategorias()">
    <ion-icon [color]="categoriaSeleccionada.itemGui.color" name="pricetag"></ion-icon>
    <ion-item>
      <span class="margin-select">{{ categoriaSeleccionada.itemGui.nombre }}</span>
      <ion-icon float-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </div>
  <div class="flex" (click)="openCuentas()">
    <ion-icon [color]="cuentaSeleccionada.itemGui.color" name="pricetag"></ion-icon>
    <ion-item>
      <span class="margin-select">{{ cuentaSeleccionada.itemGui.nombre }}</span>
      <ion-icon float-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </div>
  <div class="flex">
    <ion-checkbox [formControl]="formTransaccion.controls['pago']" [color]="tipoTransaccion" checked="true"></ion-checkbox>
    <ion-item>
      <ion-label class="margin-select">Pago registrado</ion-label>
    </ion-item>
  </div>
  <div class="flex">
    <ion-checkbox [formControl]="formTransaccion.controls['pago']" [color]="tipoTransaccion" checked="false"></ion-checkbox>
    <ion-item>
      <ion-label class="margin-select">Gasto fijo</ion-label>
    </ion-item>
  </div>
  <div class="flex">
    <ion-checkbox [color]="tipoTransaccion"></ion-checkbox>
    <ion-item>
      <ion-label class="margin-select">Repetir</ion-label>
    </ion-item>
  </div>
  <div class="flex">
    <ion-icon name="pricetags"></ion-icon>
    <ion-item>
      <span class="margin-select">Etiquetas</span>
      <ion-icon float-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </div>
  <div class="flex">
    <ion-icon name="create"></ion-icon>
    <ion-item>
      <ion-input type="text" placeholder="Observación"></ion-input>
    </ion-item>
  </div>
  <div class="flex">
    <ion-icon name="alarm"></ion-icon>
    <ion-item>
      <span>Recordarme</span>
    </ion-item>
  </div>
</ion-content>
