page-search-transactions {
  @import '../../../theme/bg-categorias.scss';
  @import '../../../theme/transacciones-item.scss';
  @import '../../../theme/bg-headers.scss';
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: black;
  }
  .searchbar-md .searchbar-input {
    background-color: map-get($map: $colors, $key: light);
    padding: 6px 55px 6px 10px;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .searchbar-search-icon {
    right: 32px;
    left: initial !important;
  }
}
