<ion-list>
  <ion-item no-lines *ngFor="let categoria of categorias">
    <div class="icon-circled bg-{{ categoria.itemGui.color}}" float-left>
      <ion-icon [name]="categoria.itemGui.icono" item-start></ion-icon>
    </div>
    <p float-left class="nombre">{{ categoria.itemGui.nombre }}</p>
    <p float-right class="icons">
      <ion-icon margin-right name="add-circle" (click)="openSubcategoria($event, categoria)"></ion-icon>
      <ion-icon name="more" (click)="openOpciones($event, categoria)"></ion-icon>
    </p>
  </ion-item>
  <ion-item no-lines>
    <ion-icon class="subcategory" name="return-right" item-start></ion-icon>
    <p float-left class="subcategory-name">subcategoria</p>
  </ion-item>
</ion-list>
