page-cuenta-nueva {
  .item-crear {
    color: #999;
    margin-top: 30px;
  }

  .cuenta-nombre {
    position: absolute;
    width: 180px;
    margin-top: 8px;
    min-width: 180px;
  }

  .icon-type {
    margin-left: 180px;
    margin-top: 8px
  }

  .icon-color {
    margin-top: 8px;
  }

  .color-circle {
    margin-right: 10px;
    height: 30px;
    width:30px;
    border-radius: 50%;
  }

  @import '../../../../theme/bg-categorias.scss';
}
