page-calendario {
  .col {
    margin: 5px;
  }

  .scroll-content {
    padding: 0 !important;
    margin-top: 36px;
  }

  .date-active {
    border-radius: 50%;
  }

  .max-list {
    max-height: 390px;
  }

  @import '../../theme/bg-categorias.scss';
}
