.empty{
  background-image: url(../../../assets/aditional-icons/empty.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}
.label-empty {
  height: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}