.item-md .item-button {
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
}

.list-header-md {
  margin-bottom: 0;
  border-top: 0;
  color: black;
}
.item-md p {
  margin-top: 4px;
}
ion-item p.transaction-description span {
  color: black;
}
ion-icon {
  margin-top: 0 !important;
}

.small {
  .icon-circled {
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding-top: 4px;
  }
  .label-md {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@import 'colores-transacciones.scss'