// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.card-md {
  border-radius: 10px;
}
.popover-md {
  background-color: rgba($color: map-get($colors, dark), $alpha: 0.6);
}

.popover-center .popover-content {
  width: 350px;
  position: initial;
}

.popover-date .popover-content {
  width: 350px;
  position: initial;
}

.item-md p {
  font-size: 1.6rem;
}

.segment-md .segment-button {
  font-size: 1.4rem;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: 50% 50%;
    -webkit-mask-position: 50% 50%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-wallet"] {
    mask-image: url(../assets/aditional-icons/wallet.svg);
    font-size: 1em;
  }
  &[class*="custom-motor-bike"] {
    mask-image: url(../assets/aditional-icons/motorbike.svg);
  }
  &[class*="custom-bank"] {
    mask-image: url(../assets/aditional-icons/bank.svg);
  }
  &[class*="custom-chart"] {
    mask-image: url(../assets/aditional-icons/chart.svg);
  }
  &[class*="custom-beach"] {
    mask-image: url(../assets/aditional-icons/beach.svg);
  }
  &[class*="custom-balance"] {
    mask-image: url(../assets/aditional-icons/balance.svg);
  }
  &[class*="custom-transaction"] {
    mask-image: url(../assets/aditional-icons/transaction.svg);
  }
}