page-inicio {
  @import '../../theme/bg-headers.scss';
	.toolbar-title {
    font-size: 3em;
    .subtitle {
      font-size: 0.4em;
      margin-top: 0;
    }
  }
  .ion-md-trending-up{
    color: map-get($colors, secondary);
  }
  .ion-md-trending-down{
    color: map-get($colors, danger);
  }
  .ion-md-stats{
    color: map-get($colors, azulPrimario);
  }

  .ion-md-jet {
    color: map-get($map: $colors, $key: danger);
  }

  .presupuesto {
    ion-card-content ion-item .gastado-text {
      color: map-get($colors, danger);
    }
    ion-card-content ion-item .restante-text {
      color: map-get($map: $colors, $key: secondary);
    }
  }
}